body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center !important;
    background: rgb(79,79,102);
background: radial-gradient(circle, rgba(79,79,102,1) 0%, rgba(42,36,46,1) 100%);
  }
  
  #video{
    width: 100%;
    height:100%;
  }

  canvas {
    position: absolute;
  }

  .shrink {
	-webkit-animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#startingTo{
    display: none;
    color: rgb(19, 167, 204);
}

.analyze{
        display: initial !important; 
        -webkit-animation: colorchange 2s infinite;        
}

  /*--Shrink--*/
@-webkit-keyframes scale-down-center {
    0% {
      -webkit-transform: scale(1) translateY(0) translateX(0);
              transform: scale(1) translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: scale(0.5) translateY(55%);
              transform: scale(0.5) translateY(55%);
    }
  }
  @keyframes scale-down-center {
    0% {
      -webkit-transform: scale(1) translateY(0) translateX(0);
              transform: scale(1) translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: scale(0.5) translateY(55%);
              transform: scale(0.5) translateY(55%);
    }
  }

  /* --Analyze-- */
  @-webkit-keyframes colorchange {
        0% {
          
          color: rgb(19, 167, 204);
        }
        
        50% {
          
          color: rgb(255, 255, 255);
        }
        
        100% {
          
          color: rgb(19, 167, 204);
        }
        
      }
      
  
  